@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Mylayout";
     // RenderSection("h") = "Hiiiiiiiiiiiii";
}
<h1>@ViewData["Title"]



</h1>
@section h {
	<p>hiiiiiiiiiiiiiii</p>

}

@section f {
    <p style="border:10px  solid  black">Byeeeeeeeeee</p>

}

