<h2>Hello MY BABE</h2>
<style>


	h5{
		color:red;
	}
</style>

@*     block of COde *@

@{
	int x = 15;
	int y = x - 10;
}

<h5>@x</h5>
<h5>@y</h5>


@{
	if(x>y){
		<h1>X Greater than Y</h1>
	}

	else
	{
		<h1>X Less than Y</h1>

	}
}
