@model STUDENT

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/images/@Model.IMGurl" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Your Id is @Model.Id</h5>
        <h5 class="card-title">Your Name is @Model.Name</h5>
        <a href="showall" class="btn btn-primary">Show all Students</a>

    </div>
</div>